<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Hasła</title>
	<meta charset="utf-8">
	<link rel="stylesheet"
		  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

	<script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<script
			src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

	<script
			src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<link rel="stylesheet"
		  th:href="@{../css/demo.css}" type="text/css" />
<style>
	#snackbar {
	visibility: hidden;
	min-width: 250px;
	margin-left: -125px;
	background-color: #333;
	color: #fff;
	text-align: center;
	border-radius: 2px;
	padding: 25px;
	position: fixed;
	z-index: 1;
	left: 50%;
	top: 50%;
	font-size: 18px;
	}
	#snackbar.show {
  visibility: visible;
    animation: fadein 0.5s, 2.5s;
}
@keyframes fadein {
  from { top: 50%; opacity: 0;}
  to { top: 50%; opacity: 1;}
}
	</style>
</head>
<body th:style="'background-color: #ffe6e6'">

<div class="container list">
	<br>
	<h3 class="title" style = "float:left;">My passwords</h3>
	<nav class="navbar justify-content-end">
		<a th:href="@{/api/readMode}"><button type="button"
															 class="btn  btn-warning mr-3 mb-2">Read mode</button></a>
		<a th:href="@{/api/modifyMode}"><button type="button"
															 class="btn  btn-danger mr-3 mb-2">Modify mode</button></a>

		<a th:href="@{/api/logins}"><button type="button"
											class="btn btn btn-info mr-3 mb-2">Logins</button></a>
		<a th:href="@{/api/passwords/showFormForAdd}"><button type="button"
														 class="btn btn btn-primary mr-3 mb-2">Add</button></a>

		<a th:href="@{/api/passwords/change-master}"><button type="button"
															  class="btn btn btn-success mr-3 mb-2">Change master password</button></a>
		<a th:href="@{/api/logout}"><button type="button"
															 class="btn btn btn-secondary mr-3 mb-2">Logout</button></a>

	</nav>
	<div class="table-responsive">
		<table style="background-color:white;" class="table table-hover table-bordered table-sm">
			<thead>
			<tr class="table-secondary">
				<th class="text-center">Id</th>
				<th class="text-center">Web address</th>
				<th class="text-center">Description</th>
				<th class="text-center">Login</th>
				<th></th>
				<th></th>
			<th></th>
			</tr>
			</thead>
			<tbody id="myTable">
			<tr th:each="tempPass:${passwords}">
				<td class="text-center" th:text="${tempPass.id}" />
				<td class="text-center" th:text="${tempPass.web_address}" />
				<td class="text-center" th:text="${tempPass.description}" />
				<td class="text-center"th:text="${tempPass.login}" />
				<td class="text-center" ><a
						th:href="@{/api/passwords/encodePassword(id=${tempPass.id})}"
						class="btn btn-info">Show</a></td>
				<td class="text-center"><a
						th:href="@{/api/passwords/deletePassword(id=${tempPass.id})}"
						class="btn btn-danger">Delete</a></td>
				<td class="text-center"><a
						th:href="@{/api/passwords/editPassword(id=${tempPass.id})}"
						class="btn btn-link">Edit</a></td>
			</tr>
			</tbody>
		</table>
	</div>

	<div th:if="${passwordText!=null}">
		Your password to <span th:text="${password.web_address}"></span> is: <span th:text="${passwordText}"></span>

		<form th:action="@{/api/passwords/share}" method="POST"  th:object="${sharer}">
			Email
			<input type="hidden" th:field="*{passwordId}" />
			<input type="text" th:value="${sharer.email}"
						th:field="*{email}"	  class="form-control" style="width:40%;" />
			<button type="submit" class="btn btn-info mt-3">Share</button>
		</form>


	</div>
	<div th:if="${shared == true}" id="snackbar" >Sharing success</div>

	<div th:if="${reason !=null}" id="snackbar" th:text="${reason}" ></div>

	<div th:if="${info !=null}" id="snackbar" th:text="${info}" ></div>



</div>



<script>
		$(document)
				.ready(
						function() {

							var x = document.getElementById("snackbar");
							  x.className = "show";
							  setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);

							  $("#myInput")
									.on(
											"keyup",
											function() {
												var value = $(this).val()
														.toLowerCase();
												$("#myTable tr")
														.filter(
																function() {
																	$(this)
																			.toggle(
																					$(
																							this)
																							.text()
																							.toLowerCase()
																							.indexOf(
																									value) > -1)
																});
											});
						});
	</script>
</body>

</html>