<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Hasła</title>
	<meta charset="utf-8">
	<link rel="stylesheet"
		  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

	<script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet"
		  th:href="@{../css/demo.css}" type="text/css" />
</head>
<!--<body th:style="'background: url(../key.jpg) no-repeat center center fixed;'">-->
<body th:style="'background-color: #ffe6e6'">

<div class="container list">
	<br>
	<h3 class="title" style = "float:left;">My passwords</h3>
	<nav class="navbar justify-content-end">
		<a th:href="@{/api/passwords/showFormForAdd}"><button type="button"
														 class="btn btn btn-primary mr-3 mb-2">Add</button></a>

		<a th:href="@{/api/passwords/change-master}"><button type="button"
															  class="btn btn btn-success mr-3 mb-2">Change master password</button></a>
		<a th:href="@{/api/logout}"><button type="button"
															 class="btn btn btn-secondary mr-3 mb-2">Logout</button></a>

	</nav>
	<div class="table-responsive">
		<table style="background-color:white;" class="table table-hover table-bordered table-sm">
			<thead>
			<tr class="table-secondary">
				<th class="text-center">Id</th>
				<th class="text-center">Web address</th>
				<th class="text-center">Description</th>
				<th class="text-center">Login</th>
				<th></th>
			<th></th>
			</tr>
			</thead>
			<tbody id="myTable">
			<tr th:each="tempPass:${passwords}">
				<td class="text-center" th:text="${tempPass.id}" />
				<td class="text-center" th:text="${tempPass.web_address}" />
				<td class="text-center" th:text="${tempPass.description}" />
				<td class="text-center"th:text="${tempPass.login}" />
				<td class="text-center" ><a
						th:href="@{/api/passwords/encodePassword(id=${tempPass.id})}"
						class="btn btn-info">Show</a></td>
				<td class="text-center"><a
						th:href="@{/api/passwords/deletePassword(id=${tempPass.id})}"
						class="btn btn-danger">Delete</a></td>

			</tr>
			</tbody>
		</table>
	</div>
	<div th:if="${passwordText!=null}">


		Your password to <span th:text="${password.web_address}"></span> is: <span th:text="${passwordText}"></span>
	</div>


</div>

</body>

</html>